body{
color: red; 
background-color: white;
margin: 0px;
}

#pikachu{
position: relative;
height: 100%;
width: 200px;
}

#pokemon-logo{

    height: 100%;
    width: 500px;
    position: relative;

    
    
    }
.pokeDiv:hover{
    transform: scale(2);
    transition: 2000ms;

}




.pokemon-list{
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
    background-color: rgb(247, 238, 226);
}

h1{
text-transform:uppercase;
text-align: center;
}

ul{
    list-style: none;
    justify-items: center;


}
.small{

width: 200px;
height: 200px;


}
.normal {

    background-color: blue;
}

button {
    padding: 10px;
    background-color: #f4f4f4;
    color: #222;
  text-align: center;
  border-radius: 15px;
  box-shadow: grey 2px 2px;
  height: 7,5rem;
  width: 7,5rem;
  font-weight: 700;
}

.card:hover{
    transition: 500ms;
    box-shadow: darkgrey 5px 5px;
    transform: translateY(-2px);
}